<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:glEsVersion="${glEsVersion}"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:label="Probnik"
        android:allowBackup="false"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Pairing screen - launcher activity -->
        <activity
            android:name=".PairingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- QR Scanner -->
        <activity
            android:name=".QrScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Probnik.Fullscreen"/>

        <!-- Main Scenic rendering activity -->
        <activity
            android:name=".HostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    </application>
</manifest>
